<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input ng-model="name" class="validate" id="name" type="text" length="30">
        <label for="name">Nombre</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea ng-model="description" id="description" class="materialize-textarea" length="120"></textarea>
        <label for="description">Sinopsis</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input ng-model="img" class="validate" id="name" type="text" length="30">
        <label for="name">Imagen URL</label>
      </div>
    </div>
  </form>
  <!-- Example -->
    <div class="col s12 m12 l4">
      <div class="card">
        <div class="card-image">
          <img src="{{img}}">
          <span class="card-title truncate">{{name}}</span>
        </div>
        <div class="card-content">
          <p>{{description}}</p>
        </div>
        <div class="card-action">
          <a href="#/">Editar</a>
          <a href='#/'>Eliminar</a>
        </div>
      </div>
    </div>
</div>