 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  #main {
    flex: 1 0 auto;
  }
  .img-in-text{
    padding: 0 1em 1em 0;
  }
  .theater-description{
    min-height: 120px;
  }